[Unit]
Description=hb-nginx-self-signed-cert service
Before=nginx.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/hb-nginx-self-signed-cert

[Install]
WantedBy=multi-user.target
