[Unit]
Description=Homebridge image first boot startup script
Before=NetworkManager.service wifi-connect.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/first-boot-homebridge

[Install]
WantedBy=multi-user.target
