[Unit]
Description=hb-check service
Before=homebridge.service
After=nginx.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/hb-check

[Install]
WantedBy=multi-user.target
