[Unit]
Description=WiFi Captive Portal
After=NetworkManager.service
Before=nginx.service homebridge.service hb-check.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/wifi-connect-startup

[Install]
WantedBy=multi-user.target
