[Unit]
Description=WiFi Captive Portal
After=NetworkManager.service
Before=nginx.service homebridge.service

[Service]
Type=oneshot
Environment="PATH=/opt/homebridge/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="npm_config_prefix=/opt/wifi-connect"
ExecStart=/opt/wifi-connect/bin/wifi-connect
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
