[Unit]
Description=WiFi Captive Portal
After=NetworkManager.service
Before=nginx.service homebridge.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wifi-connect

[Install]
WantedBy=multi-user.target
